<!DOCTYPE html>
<html>
<head>
  <title>Whatthetruck</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCviQbb_MaNjX1INWNg2hZ9NQVcQShX4yY&sensor=false", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
